<!DOCTYPE html>
<html lang="ru">
<head>
  <meta chset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.min.css">
  <link rel="stylesheet" href="/css/icofont.min.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Name Surname | Панель администратора</title>
</head>
<body>
  <header id="header">
    <div class="header__logo">
      <img src="/images/logo.png" alt="logo.png">
      <p>Панель администратора</p>
    </div>
    <div class="header__nav">
      <div class="header__left">
        <div class="header__icon w50 h50"><i class="icofont-navigation-menu"></i></div>
        <div class="header__online">
          <i class="icofont-ui-pointer"></i>
          <p>127.0.0.1</p>
        </div>
      </div>
      <div class="header__right">
        <div class="header__icon w50 h50 header__dropdown" v-on:click="isActiveDropdownOne = !isActiveDropdownOne">
          <i class="icofont-notification"></i>
          <div class="header__notifications">17</div>
          <template v-if="isActiveDropdownOne">
            <div class="header__dropdown-menu">
              <div class="header__dropdown-title">
                <p>Уведомления</p>
              </div>
              <div class="header__dropdown-body">
                <ul>
                  <li>
                    <div class="header__dropdown-message">
                      <p class="header__dropdown-subtitle">Заканчивающийся тур</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, soluta.</p>
                    </div>
                    <div>
                      <i class="icofont-eye-alt"></i>
                    </div>
                  </li>
                  <li>
                    <div class="header__dropdown-message">
                      <p class="header__dropdown-subtitle">Заканчивающийся тур</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, soluta.</p>
                    </div>
                    <div>
                      <i class="icofont-eye-alt"></i>
                    </div>
                  </li>
                  <li>
                    <div class="header__dropdown-message">
                      <p class="header__dropdown-subtitle">Заканчивающийся тур</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, soluta.</p>
                    </div>
                    <div>
                      <i class="icofont-eye-alt"></i>
                    </div>
                  </li>
                  <li>
                    <div class="header__dropdown-message">
                      <p class="header__dropdown-subtitle">Заканчивающийся тур</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, soluta.</p>
                    </div>
                    <div>
                      <i class="icofont-eye-alt"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </template>
        </div>
        <div class="header__icon w50 h50">
          <a href="#"><i class="icofont-logout"></i></a>
        </div>
      </div>
    </div>
  </header>

  <div id="content">
    <aside id="aside">
      <div class="aside__user">
        <div class="aside__about">
          <div class="aside__logo bg"></div>
          <div>
            <p>Denis Zagvozdin</p>
            <p class="aside__role">Developer</p>
          </div>
        </div>
        <div class="aside__settings">
          <a href="#"><i class="icofont-settings"></i></a>
        </div>
      </div>
      <nav class="aside__nav">
        <ul>
          <li class="aside__nav-title">Навигация</li>
          <li class="aside__nav-item">
            <a href="#"><i class="icofont-home"></i>Главная</a>
          </li>
          <li class="aside__nav-item">
            <a href="#"><i class="icofont-listing-number"></i>Формы</a>
          </li>
          <li class="aside__nav-item">
            <a href="#"><i class="icofont-listing-box"></i>Таблицы</a>
          </li>
          <li class="aside__nav-item">
            <a href="#"><i class="icofont-check-circled"></i>Одобрить регистрацию</a>
          </li>
          <li class="aside__nav-item">
            <a href="#"><i class="icofont-settings"></i>Настройки</a>
          </li>
        </ul>
      </nav>
    </aside>
    <main id="main">
      <div class="main__title">
        <div class="main__title-left">
          <i class="icofont-rounded-left"></i>
          <p><strong>Главная</strong><span class="delimiter">/</span>Главные компоненты</p>
        </div>
        <div class="main__title-right">
          <div class="search">
            <input type="text" placeholder="Введите имя">
            <button type="submit"><i class="icofont-ui-search"></i></button>
          </div>
          <div>
            <button class="btn">Создать пользователя</button>
          </div>
        </div>
      </div>
      <div class="main__content">
        <div class="main__block">
          <div class="main__block-title"><!--Ошибка | -->Успех</div>
          <p class="success">Операция прошла успешно!</p>
          <!-- <ul class="errors">
            <li>Поле Имя обязательное</li>
            <li>Поле имя должно быть не больше 10-ти символов</li>
          </ul> -->
        </div>
        <div class="main__block">
          <div class="main__block-body">
            <form class="form" id="form">
              <div class="main__block-title">Поле всегда большим шрифтом</div>
              <c-input type="text" name="fdsf" placeholder="Введите ID" value="" v-model="test" required></c-input>
              <c-input type="text" name="fdsf" placeholder="Введите ID" validate="date" :value="test"></c-input>
              <div class="input-text">
                <p>Введите данные</p>
                <input type="text" name="" placeholder="Введите данные">
              </div>
              <c-title>Test</c-title>
              <div class="input-text">
                <p>Введите данные</p>
                <input type="text" name="" placeholder="Введите данные" list="numbers">
              </div>
              <div class="main__block-title">Поле всегда большим шрифтом</div>
              <div class="input-text">
                <p>Введите данные</p>
                <input type="text" name="" placeholder="Введите данные">
              </div>
              <div class="input-text">
                <p>Введите данные</p>
                <select name="">
                  <option>Выберите данные</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <c-select name="" placeholder="Выберите значения">
                <option value="1">Первое значение</option>
                <option value="2">Второе значение</option>
              </c-select>

              <label><input type="checkbox" name="">Отправлять рассылку</label>
              <label><input type="checkbox" name="">Отправлять рассылку</label>

              <label><input type="radio" name="name">Этот</label>
              <label><input type="radio" name="name">Вот этот</label>
              <label><input type="radio" name="name">Или этот</label>

              <c-label type="checkbox" name="test">Этот чекбокс</c-label>

              <button class="btn">Открыть модальное окно</button>

              <!-- <div class="popup">
                <div class="popup__content">
                  <div class="popup__title">Заголовок модального окна</div>
                  <div class="popup__body">
                    <form action="" class="form">
                      <div class="main__block-title">Первые параметры</div>
                      <div class="input-text">
                        <p>Введите данные</p>
                        <input type="text" name="" placeholder="Введите данные">
                      </div>
                      <div class="input-text">
                        <p>Введите данные</p>
                        <input type="text" name="" placeholder="Введите данные">
                      </div>
                      <div class="input-text">
                        <p>Введите данные</p>
                        <input type="text" name="" placeholder="Введите данные">
                      </div>
                      <button class="btn">Отправить</button>
                    </form>
                  </div>
                </div>
              </div> -->

              <datalist id="numbers">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </datalist>
            </form>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Alex</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Oleg</td>
            </tr>
          </tbody>
        </table>  
      </div>
    </main>
  </div>

  <script src="/js/vue.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>