//! ПОДКЛЮЧЕНИЕ ШРИФТОВ
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'socials';
  src: url('/fonts/socials.ttf?klugn') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'socials' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}


//! ПЕРЕМЕННЫЕ
$color-black: #373F41;
$color-blue: #3C64B1;
$color-blue-opacity: rgba(60, 100, 177, 0.2);
$color-gray: #737B7D;
$color-footer: #292929;

$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;


//! СБРОС ДЕФОЛТНЫХ СТИЛЕЙ
*, *::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, p, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


//! ДЕФОЛТНЫЕ СТИЛИ
html {
  scroll-behavior: smooth;
}

body {
  color: $color-black;
  font-family: $font-montserrat;
}

a {
  color: $color-black;
  text-decoration: none;
  font: inherit;
}

.container {
  display: block;
  max-width: 1110px;
  margin: 0 auto;
}

li {
  display: inline-block;
}

h1 {
  font-size: 44px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.2px;
}

h2 {
  font-weight: 500;
}

.description {
  color: $color-gray;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-size: 16px;
  text-align: center;
}

.heading {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.1px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}

.button {
  background-color: $color-blue;
  color: #fff;

  padding: 12px 18px;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button.button-transparent {
  background-color: transparent;
  color: $color-blue;
  border: 1px solid $color-blue;
}

section {
  padding: 120px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  thead {
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1px;
  }

  tbody {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1px;
  }

  td {
    border: 1px solid #ccc;
    padding: 24px 16px;
  }

  a {
    text-decoration: underline;
  }
}

.logo {
  font-size: 24px;
  font-family: $font-lato;
  font-weight: bold;
  text-transform: uppercase;
}

.ml-32 {
  margin-left: 32px;
}

.mt-16 {
  margin-top: -16px;
}


//! ШАПКА
.header {
  padding: 30px 0;
  background-color: $color-blue-opacity;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    color: $color-blue;
  }

  .header__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .header__title:hover {
    color: $color-blue;
    transition: .3s;
  }
  
  .header__title:hover svg {
    fill: $color-blue;
  }

  .header__title strong {
    margin-right: 4px;
  }

  .header__title svg {
    width: 16px;
    height: 16px;
    fill: $color-black;
    margin-left: 4px;
  }

  .header__drop_down {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    top: 31px;
    border: 1px solid #ccc;

    li {
      padding: 8px;
    }

    li:hover a {
      text-decoration: underline;
    }
  }

  .header__center {
    display: flex;
    align-items: center;
  }
}


//! ОБЛОЖКА
.cover {
  background-color: $color-blue-opacity;
  padding: 100px 0;
  text-align-last: left;

  .cover__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cover__image {
    height: 240px;
  }

  .cover__description {
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: $color-gray;
    margin-bottom: 32px;
  }
}


//! СТИЛИЗАЦИЯ СТАТЬИ
.article {
  .article__content {
    max-width: 790px;
    margin: 0 auto;
    padding-bottom: 32px;

    a {
      text-decoration: underline;
    }
  }

  .article__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: $color-black;
    margin-bottom: 32px;
  }

  .article__title:not(:first-child) {
    margin-top: 16px;
  }

  .article__main-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: $color-black;
    margin-bottom: 32px;
  }

  .article__simple-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: $color-black;
    margin-bottom: 32px;
  }

  .article__subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: $color-black;
    margin-bottom: 32px;
    margin-top: 16px;
  }

  .article__footer {
    padding: 32px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
  }

  .article__task {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2px;
  }
  
  .article__task:hover {
    text-decoration: underline;
  }

  .article__task-gray {
    opacity: 0;
  }

  .article__task-tiny {
    display: none;
  }
}


//! ПОДПИСАТЬСЯ НА НОВОСТИ
.subscribe {
  .subscribe__content {
    background-color: rgba(60, 100, 177, 0.06);
    padding: 64px 0;
    // display: flex;
  }

  .subscribe__form {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subscribe__input {
    border: 1px solid $color-blue;
    padding: 11px 36px 11px 18px;
    margin-right: 8px;
  }

  .subscribe__button {
    border: none;
    cursor: pointer;
  }

  .subscribe__agree {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
    font-size: 12px;

    a {
      text-decoration: underline;
    }
  }
}

//! ПОДВАЛ
.footer {
  background-color: $color-footer;
  padding: 30px 0;
  color: #fff;

  .footer__copyright {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .footer__row,
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    color: #fff;
  }

  .footer__link a {
    color: #fff;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .footer__link a:hover {
    text-decoration: underline;
  }

  .footer__link:not(:first-child) {
    margin-left: 32px;
  }

  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 24px;
    margin-top: 32px;
  }

  .footer__copyright {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  .footer__social {
    font-size: 24px;
    color: #fff;
    margin-left: 8px;
  }

  .footer__social:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: .2s;
  }

  .icon-social-1::before {
    content: '\e900';
  }

  .icon-social-2::before {
    content: '\e901';
  }

  .icon-social-3::before {
    content: '\e902';
  }

  .icon-social-4::before {
    content: '\e903';
  }
}


//! АДАПТИВ
@media screen and (max-width: 1110px) and (min-width: 961px) {
  .container {
    max-width: 950px;
  }

  h1 {
    font-size: 40px;
  }
  
  .header {
    .header__description {
      display: none;
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 721px) {
  .container {
    max-width: 700px;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  
  .header {
    .header__description {
      display: none;
    }
  }

  .footer {
    .footer__row {
      justify-content: center;
    }
    .footer__logo {
      display: none;
    }
  }
}

@media screen and (max-width: 720px) and (min-width: 541px) {
  .container {
    max-width: 520px;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .heading {
    font-size: 24px;
  }
  
  .header {
    .header__description {
      display: none;
    }

    a.button {
      display: none;
    }
  }

  .cover {
    .cover__image {
      display: none;
    }
  }

  .footer {
    .footer__row {
      justify-content: center;
    }
    .footer__link {
      display: block;
      margin: 0 !important;
      text-align: center;
      margin-bottom: 16px;
    }
    .footer__logo {
      display: none;
    }
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 90%;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .heading {
    font-size: 24px;
  }
  
  .header {
    .header__description {
      display: none;
    }

    a.button {
      display: none;
    }
  }

  .cover {
    .cover__image {
      display: none;
    }
  }

  .article {
    .article__task:not(.article__task-tiny) {
      display: none;
    }

    .article__task-tiny {
      display: block;
    }
  }

  .subscribe {
    .subscribe__form {
      display: block;
    }
    .subscribe__input,
    .subscribe__button {
      display: block;
      margin: 0 auto;
      margin-bottom: 16px;
    }
  }

  .footer {
    .footer__row {
      justify-content: center;
    }
    .footer__link {
      display: block;
      margin: 0 !important;
      text-align: center;
      margin-bottom: 16px;
    }
    .footer__logo {
      display: none;
    }
  }
}
