//! ИНИЦИАЛИЗАЦИЯ ПЕРЕМЕННЫХ
$headerColor: #324148;
$borderColor: rgba(255, 255, 255, 0.1);
$asideColor: #263238;
$whiteColor: rgba(255, 255, 255, 0.9);
$notifyColor: #17A2B8;
$borderColorBlack: rgba(0, 0, 0, 0.15);
$redColor: #DC3545;
$greenColor: #28A745;
$orangeColor: #FFA726;


//! ПОДКЛЮЧЕНИЕ ШРИФТОВ
@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/OpenSans-Regular.ttf) format('truetype');
}

$familyOS: 'OpenSans Regular', sans-serif;


//! ДЕФОЛТНЫЕ СТИЛИ

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $familyOS;
}

.w50 {
  width: 50px;
}

.h50 {
  height: 50px;
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.delimiter {
  margin: 0 10px;
}

button.btn {
  font-family: $familyOS;
  padding: 10px;
  color: $whiteColor;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
  font-weight: bold;
}

button.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 12px 0px;
}

button.btn:focus {
  outline: none;
}

.search {
  width: 200px;
  height: 34px;
  position: relative;
  
  input {
    border: 1px solid $borderColorBlack;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-right: 28px;
    z-index: 0;
  }
  
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 9px;
    right: 3px;

    i {
      font-size: 16px;
    }
  }
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

.form {
  width: 100%;

  .btn {
    margin-top: 10px;
  }

  .input-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $borderColorBlack;
    margin-bottom: 10px;

    p {
      font-size: 14px;
      font-weight: bold;
      height: 40px;
      width: 250px;
      text-align: right;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #E9ECEF;
      border-right: 1px solid $borderColorBlack;
    }
    input,
    select {
      border: none;
      height: 40px;
      width: calc(100% - 250px);
      padding: 0 10px;
      font-size: 15px;
      background-color: #fff;
    }
    input:focus,
    select:focus {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 12px 0px;
    }
  }

  label {
    display: block;
    margin-bottom: 4px;

    input[type="checkbox"],
    input[type="radio"] {
      margin-right: 4px;
    }
  }
}

.popup {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .popup__content {
    width: 600px;
    min-height: 200px;
    border: 1px solid $borderColorBlack;
    max-height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto;

    .popup__title {
      background-color: #fafafa;
      border-bottom: 1px solid $borderColorBlack;
      padding: 15px 10px;
      font-weight: bold;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .popup__body {
      padding: 10px;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd;
}

.table {
  border: 1px solid #ccc;
  border-spacing: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333;

  thead {
    font-weight: bold;
    background-color: #E6E6E6
  }

  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  tbody {
    tr:hover {
      background-color: #E6E6E6;
    }
  }

  a {
    color: #333;
  }

  a:hover{
    text-decoration: underline;
  }
}

.message {
  margin-bottom: 10px;
}
p.success {
  color: green;
  font-weight: bold;
  // font-size: 13px;
}
.errors {
  color: red;
  font-weight: bold;
  font-size: 13px;

  li {
    list-style-type: none;
  }
  li::before {
    content: " - ";
  }
}

#editor {
  min-height: 500px;
  width: 100%;
  background-color: #fff;
}

#header {
  height: 50px;
  background-color: $headerColor;
  border-bottom: 1px solid $borderColor;
  color: $whiteColor;
  display: flex;

  a {
    color: $whiteColor;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .header__logo {
    width: 270px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border-right: 1px solid $borderColor;

    img {
      height: 40px;
      margin-right: 4px;
    }
  }

  .header__nav {
    width: calc(100% - 270px);
    display: flex;
    justify-content: space-between;

    .header__left {
      display: flex;

      .header__online {
        display: flex;
        align-items: center;
        margin-left: 6px;
        font-size: 14px;

        i {
          font-size: 10px;
          color: green;
          margin-right: 4px;
        }
      }
    }

    .header__right {
      display: flex;
    }

    .header__icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
    }
    
    .header__icon:hover {
      background: $borderColor;
    }

    .header__dropdown {
      position: relative;

      .header__notifications {
        position: absolute;
        top: 6px;
        right: 8px;
        width: 18px;
        height: 18px;
        padding-top: 2px;
        text-align: center;
        font-size: 10px;
        border-radius: 50%;
        background-color: $notifyColor;
      }

      .header__dropdown-menu {
        z-index: 1;
        position: absolute;
        top: 52px;
        right: 0;
        border: 1px solid $borderColorBlack;
        border-radius: 4px;
        width: 350px;
        min-height: 200px;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        color: #333;
      
        .header__dropdown-title {
          font-size: 15px;
          background-color: #eee;
          padding: 10px;
          border-bottom: 1px solid $borderColorBlack;
        }

        .header__dropdown-body {
          background-color: #fff;
          ul {
            li {
              display: none;
              width: 100%;
              // height: 50px;
              list-style-type: none;
              padding: 10px 20px;
              font-size: 12px;
              border-bottom: 1px solid $borderColorBlack;
              // display: flex;
              justify-content: space-between;
              align-items: center;

              .header__dropdown-message {
                border-right: 1px solid #ddd;
                // padding-right: 10px;
                margin-right: 10px;
              }

              .header__dropdown-subtitle {
                font-size: 14px;
                color: #2196f3;
                font-weight: 600;
              }
            }
            
            li:hover {
              background-color: #dddddd55;
            }

            li:nth-child(1),
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4) {
              display: flex;
            }
          }
        }
      }
    }
  }
}

#content {
  height: calc(100vh - 50px);
  display: flex;
}

#aside {
  width: 270px;
  min-height: 100%;
  background-color: $asideColor;
  color: $whiteColor;

  .aside__user {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .aside__about {
      display: flex;
      align-items: center;
    }

    .aside__settings {
      a {
        color: $whiteColor;
        text-decoration: none;
      }
    }

    p {
      font-size: 14px;
      display: block;
      font-weight: bold;
    }

    p.aside__role {
      color: rgba(255, 255, 255, 0.5);
      font-size: 13px;
      text-transform: capitalize;
      
    }

    .aside__logo {
      background-image: url(/images/logo.jpg);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .aside__nav {
    ul {
      overflow: hidden;
    }

    .aside__nav-title {
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      font-size: 12px;
      padding: 10px 15px;
    }

    .aside__nav-item {
      padding: 10px 15px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      transition: .1s;
      a {
        display: flex;
        align-items: center;
        color: $whiteColor;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: .1s;
      }

      i {
        margin-right: 8px;
      }
    }
    
    .aside__nav-item:hover {
      background-color: #ffffff22;
    }
    .aside__nav-item:hover a {
      color: #FFA726;
    }
  }
}

#main {
  height: 100%;
  color: #333;
  background-color: #f5f5f5;
  width: calc(100vw - 270px);
  overflow: hidden;
  overflow-y: auto;

  .main__title {
    background-color: #fff;
    width: calc(100vw - 270px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    border-bottom: 1px solid $borderColorBlack;
    
    i {
      margin-right: 4px;
    }
  }

  .main__title-left,
  .main__title-right {
    display: flex;
    align-items: center;
  }

  .main__title-right div:not(:last-child) {
    margin-right: 20px;
  }
  
  .main__content {
    padding: 20px;
    // padding-bottom: 0;
  }

  .main__block {
    padding: 20px;
    border: 1px solid $borderColorBlack;
    margin-bottom: 20px;

    a {
      color: #333;
      display: block;
      margin: 4px 0;
      font-family: 'Ubuntu', sans-serif;
    }
    
    p {
      font-family: 'Ubuntu', sans-serif;
    }
  }
  .main__block-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $borderColorBlack;
    margin-top: 20px;
  }
  .main__block-title:first-child {
    margin-top: 0;
  }
}